<header>
    <h1>Weather info</h1>
        <button class="button-21" role="button"> <a href="/">Home</a></button>
    <button class="button-21" role="button"> <a  href="/weather/">Weather</a> </button>
   <link rel="stylesheet" href="../css/styles.css">
</header>